<h1>Listing cts</h1>

<table class="table table-striped">
	<thead>
	  <tr>
	    <th>Description</th>
	    <th></th>
	    <th></th>
	    <th></th>
	  </tr>
	</thead>

	<tbody>
		<%= render @cts %>
	</tbody>
</table>

<br />

<%= link_to 'New Ct', new_ct_path %>
