<div class="row">
	<div class="span6 offset3">
		<div class="well">
			<p>
			  <%= @ct.description %>
			</p>
			<%= link_to 'Edit', edit_ct_path(@ct) %> |
			<%= link_to 'Back', cts_path %>
		</div>	
	</div>	
</div>