<h1>Welcome to One Month Rails</h1>
<p>
	Blah blah blah blizzidy blah.
	This is the homepage.
	<%= link_to "One Month Rails", "http://onemonthrails.com"%>	
</p>


<p>
   <%= link_to "Sign up Now!", "#"%>
</p>





